{{#if shouldDisplay}}  
  <div class="custom-tiles-wrap">
    {{#if enableBanner}}
      <div class="wrap tile-wrap banner-wrap">
        <a href={{theme-i18n 'banner_target.link'}} alt={{theme-i18n "banner_target.link_alt"}} title={{theme-i18n "banner_target.link_alt"}} target={{theme-i18n "banner_target.link_target"}}><img id="custom-tiles-banner" /></a>
      </div>
    {{/if}}
    <div class="wrap tile-wrap">
      <a href={{theme-i18n 'tile_1.link'}} alt={{theme-i18n "tile_1.link_alt"}} title={{theme-i18n "tile_1.link_alt"}}>
        {{#if enableTilesImages}}
        <div id="tile-img-1" class="tile-img">
          <img class="tile-img-thumb"/>
          <div class="tile-link"><img src={{theme-setting 'theme_uploads.img_arrow_white'}} /></div>
        </div>
        {{/if}}
        <div class="tile-headline">{{theme-i18n "tile_1.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_1.subhead"}}</div>              
      </a>
    </div>    
    <div class="wrap tile-wrap">
      <a href={{theme-i18n 'tile_2.link'}} alt={{theme-i18n "tile_2.link_alt"}} title={{theme-i18n "tile_2.link_alt"}}>
        {{#if enableTilesImages}}
        <div id="tile-img-2" class="tile-img">
          <img class="tile-img-thumb"/>
          <div class="tile-link"><img src={{theme-setting 'theme_uploads.img_arrow_white'}} /></div>
        </div>
        {{/if}}
        <div class="tile-headline">{{theme-i18n "tile_2.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_2.subhead"}}</div>              
      </a>
    </div>
    <div class="wrap tile-wrap">
      <a href={{theme-i18n 'tile_3.link'}} alt={{theme-i18n "tile_3.link_alt"}} title={{theme-i18n "tile_3.link_alt"}}>
        {{#if enableTilesImages}}
        <div id="tile-img-3" class="tile-img">
          <img class="tile-img-thumb"/>
          <div class="tile-link"><img src={{theme-setting 'theme_uploads.img_arrow_white'}} /></div>
        </div>
        {{/if}}
        <div class="tile-headline">{{theme-i18n "tile_3.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_3.subhead"}}</div>              
      </a>
    </div>
    <div class="wrap tile-wrap">
      <a href={{theme-i18n 'tile_4.link'}} alt={{theme-i18n "tile_4.link_alt"}} title={{theme-i18n "tile_4.link_alt"}}>
        {{#if enableTilesImages}}
        <div id="tile-img-4" class="tile-img">
          <img class="tile-img-thumb"/>
          <div class="tile-link"><img src={{theme-setting 'theme_uploads.img_arrow_white'}} /></div>
        </div>
        {{/if}}
        <div class="tile-headline">{{theme-i18n "tile_4.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_4.subhead"}}</div>        
      </a>
    </div>    
  </div>
{{/if}}
