{{#if shouldDisplay}}
  <div class="custom-tiles-wrap">
    <div class="wrap tile-wrap">
        <div class="tile-img">IMG</div>
        <div class="tile-headline">{{theme-i18n "tile_1.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_1.subhead"}}</div>      
        <div class="tile-link"><a href={"tile_1.link"} alt={{theme-i18n "tile_1.link_alt"}}></a></div> 
    </div>
    <div class="wrap tile-wrap">
        <div class="tile-img">IMG</div>
        <div class="tile-headline">{{theme-i18n "tile_2.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_2.subhead"}}</div>      
        <div class="tile-link"><a href={"tile_2.link"} alt={{theme-i18n "tile_2.link_alt"}}></a></div> 
    </div>
    <div class="wrap tile-wrap">
        <div class="tile-img">IMG</div>
        <div class="tile-headline">{{theme-i18n "tile_3.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_3.subhead"}}</div>      
        <div class="tile-link"><a href={"tile_3.link"} alt={{theme-i18n "tile_3.link_alt"}}></a></div> 
    </div>
    <div class="wrap tile-wrap">
        <div class="tile-img">IMG</div>
        <div class="tile-headline">{{theme-i18n "tile_4.headline"}}</div>
        <div class="tile-subhead">{{theme-i18n "tile_4.subhead"}}</div>      
        <div class="tile-link"><a href={"tile_4.link"} alt={{theme-i18n "tile_4.link_alt"}}></a></div> 
    </div>
  </div>
{{/if}}
